*{padding:0;
margin:0;
box-sizing:border-box;}

body{font-family:Arial, sans-serif;
margin:0;
padding:0;
background:#dcd1a0;
color:#222;}

@media(max-width:600px){body{font-size:0.9rem;
  padding:1.5rem;}}

h1{font-size:1.5rem;
position:absolute;
  top:60%;
  left:21.2%;
}

.title-container{background-color:white;
width:70%;
height:20vh;
  position:relative;
  z-index:0;
  place-items:center;
  margin-left:16%;
  margin-right:20%;}



.tent{width:90%;
  height:19vh;
background-color:transparent;
z-index:1;
  position:relative;
  left:5%;
 top:2.5%;
  border:2px solid black;
  
}
.tent-bottom{width:65%;
height:8vh;
background-color:transparent;
border:2px solid black;
  border-top:transparent;
  border-bottom:transparent;
position:absolute;
top:45%;
left:14.5%;
}

.tent-top-left{width:8%;
height:11.5vh;
background-color:transparent;
border:2px solid black;
  border-radius:10px;
position:absolute;
left:24%;
bottom:41.5%;
 transform:rotate(55deg);}

.hidden-square-left{width:8%;
height:12vh;
background-color:white;
position:absolute;
left:23%;
bottom:42%;
transform:rotate(54deg);
z-index:1;}

.tent-top-right{width:8%;
height:11.5vh;
background-color:transparent;
border:2px solid black;
  border-radius:10px;
position:absolute;
left:62%;
bottom:41.5%;
 transform:rotate(-55deg);}

.hidden-square-right{width:8%;
height:12vh;
background-color:white;
position:absolute;
left:63%;
bottom:42%;
transform:rotate(-54deg);
z-index:1;}
