
*{margin;0;
padding:0;
box-sizing:border-box;}

img, iframe{max-width:100%;
            height:auto;}

.title{font-size:3rem;}

@media(max-width:600px){.title{font-size:2rem;
                               text-align:center;}
                        p{font-size:1rem;
                          padding:0 10px;}}

body{margn:0;
height:100vh;
display:flex;
justify-content:center;
align-items:center;}

.title-container{position:relative;
display:inline-block;
  width:600px;
  height:300px;
}

.title-frame{background-color:#dcd1a0;
  margin-top:0px;
width:100%;
height:100%;
  top:0;
  left:0;
position:absolute;
z-index:0;}

.title{position:absolute;
  bottom:20px;
  left:50%;
  transform:translate(-50%);
  font-size:50px;
  z-index:1;
  display:inline-block;
  border-bottom:2px solid #9b111e;
line-height:1;}

.tent-top-left{
height:70px;
width:200px;
position:absolute;
top:17%;
left:16%;
transform:translateX(-50%);
z-index:2;
border-bottom:2px solid #7f8db4;
  transform:rotate(-30deg);
  background:transparent;
  border-radius:37%;}

.hidden-square-left{background-color:#dcd1a0;
width:220px;
height:60px;
position:absolute;
top:17%;
left:12%;
transform:translateX(-50%);
transform:rotate(-30deg);
z-index:3;}

.tent-top-right{height:70px;
width:200px;
position:absolute;
top:17%;
right:16%;
tranform:translateX(-50%);
z-index:2;
border-bottom:2px solid #7f8db4;
  transform:rotate(30deg);
  background:transparent;
  border-radius:37%;
}

.hidden-square-right{background-color:#dcd1a0;
width:220px;
height:60px;
position:absolute;
top:17%;
right:12%;
transform:translateX(-50%);
transform:rotate(30deg);
z-index:3;
}

.tent-bottom{height:150px;
width:350px;
z-index:2;
position:absolute;
bottom:0%;
left:50%;
transform:translateX(-50%);
border:2px solid #7f8db4;
  border-top:none;
  border-bottom:none;
background:transparent;}

.ruby{width:25px;
height:35px;
background-color:#9b111e;
position:absolute;
top:10%;
left:50%;
transform:translateX(-50%);
border-radius:50%;
z-index:4;}

.heading-first{text-align:center;}

.purpose{text-align:center;}

.list-1{width:500px;}
